.sub-title {
  font-size: 14px;
  position: relative;

  .p {
    position: absolute;
    bottom: 0;
  }
}

.cover-img {
  background-image: url(img/main.jpg);
}
.btn {
  &__question {
    background-color: #da6b64 !important;
  }
}
